.miniSection {
  height: 100vh;
  width: 100vw;
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
}
.miniContainer {
  width: 70vw;
  margin: auto;
}
.miniContainer * {
  color: var(--grey);
  position: relative;
  z-index: 11;
}
.miniContainer > div {
  width: calc(50% - 100px);
  left: calc(50% + 100px);
  position: relative;
}
.miniContainer h3 {
  font-size: calc(14px + 10 * (100vw - 320px) / 1080);
  font-weight: 200;
}
.thin {
  display: block;
}

.txt {
  font-size: calc(12px + 2 * (100vw - 320px) / 1080);
  width: 100%;
  font-weight: 200;
  line-height: 1.8;
  margin: calc(25px + 2%) auto 0;
  color: #edf1f3;
}
@media screen and (max-width: 950px) {
  .miniContainer > div {
    text-align: center;
    left: 0;
    width: 100%;
  }
}
