.main {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1004;
}

.overlay {
  position: absolute;
  visibility: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.textOverlay {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
