.section {
  height: 100vh;
  width: 100vw;
  background-color: var(--grey);
}

.thin {
  display: block;
}
.container {
  padding-right: 50%;
  padding-left: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.txt {
  font-size: calc(13px + 2 * (100vw - 320px) / 1080);
  width: 80%;

  line-height: 1.8;
  margin: calc(20px + 5%) 0;
  color: #666;
  letter-spacing: 0.25px;
  font-weight: 400;
}
@media screen and (max-width: 950px) {
  .container {
    padding: 30vw 0 0 0;
    text-align: center;
  }
  .txt {
    width: 100%;
    padding: 0 calc(20px + 5%);
    margin: calc(25px + 15 * (100vw - 320px) / 1080) 0;
  }
  .container:nth-child(2) {
    margin: auto !important;
  }
}
