.container {
  overflow: hidden;
  font-size: calc(12px + 2 * (100vw - 320px) / 1080);
  color: #5c5c5c;
  line-height: 1.5;
  padding: calc(30px + 3%) 0 calc(25px + 3%);
  font-weight: bold;
  background: linear-gradient(120deg, #16141c, #09080b);
}
.social {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.wrapper {
  width: 90vw;
  margin: auto;
  display: flex;
}
.trisec {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.left {
  flex: 1;
}
.right {
  flex: 1;
}
.middle {
  flex: 1;
}
.left h3 {
  color: var(--grey);
  font-weight: 800;
  margin-bottom: 10px;
}
.right h3 {
  color: var(--grey);
  font-weight: 800;
  margin-top: 15px;
}
.middle h3 {
  color: var(--grey);
  font-weight: 800;
  margin-top: 15px;
}
.rightMost {
  margin-left: auto;
  width: 15%;
  text-align: right;
}
.rightMost ul li {
  list-style: none;
}
@media screen and (max-width: 1200px) {
  .wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .trisec {
    width: 100vw;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .trisec div {
    margin-bottom: 20px;
  }
  .trisec h3 {
    word-wrap: break-word;
  }
  .trisec div:nth-child(1) {
    margin-bottom: 0;
  }
  .rightMost {
    /* margin-bottom: 20px; */
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    margin: 20px auto;
    flex-direction: row-reverse;
  }
  .social {
    width: 100px;
  }
}

@media screen and (max-width: 600px) {
  .rightMost {
    width: 90%;
  }
}
